.page.full-width.page-id-246 #primary {
  .w-kwiatach {
    float: left;

    /* informacja o autorze pod zdjęciem */
    .autor {
      font-size: 10pt;
      width: 200px;
      text-align: center;
    }
  }
}
