.post {
  /* Smaller distance between menu and post images */
  header.site-header {
    margin-bottom: 12px;
  }

  /* Hide thumbnail */
  &.single-post .post-thumbnail img {
    display:none;
  }

  /* Space between images */
  div.entry-content > p > img,
  div.entry-content > h4 > img {
    margin-bottom: 10px;
  }

  /* Images in posts with center alignment */
  .site-content #primary {
    margin: auto;
    float: none !important;

    @media only screen {
      @media (max-width: $desktops-max-width) {
        width: 100%;
      }
    }
  }

  /* Post date invisible */
  .posted-on {
    display: none !important;
  }

  /* Hide dots next to facebook and pinterest buttons */
  #dpsp-content-bottom ul li {
    background: transparent;
    padding-left: 0
  }
}
