@charset "UTF-8";
/* Default page and container size */
.container {
  width: 990px; }

@media only screen and (max-width: 1199px) {
  .container {
    width: 742px; } }

@media only screen and (max-width: 991px) {
  .container {
    max-width: 90%; } }

/* Page and Post header invisible for some pages */
.page-id-171 .entry-header {
  display: none !important; }




.site-branding {
  /* KASIA KŁYŚ */
  /* motto */ }
  .site-branding h1.site-title a {
    font-family: "source-sans-pro";
    font-size: 42px;
    font-weight: 400; }
  .site-branding .site-description {
    font-family: Georgia serif;
    font-style: italic;
    font-size: 11px;
    font-weight: normal;
    text-transform: lowercase;
    letter-spacing: 3px;
    color: rgba(0, 0, 0, 0.6); }

/* Desktop menu */
#site-navigation {
  padding-left: 13px; }
  #site-navigation a {
    font-family: Georgia serif;
    font-style: italic;
    font-size: 14px;
    font-weight: 300;
    text-transform: lowercase; }

/* Appropriate height of top bar */
@media only screen and (max-width: 991px) {
  .header-top {
    height: 40px; } }

/* Second burger button invisible */
#mobile-header a {
  display: none; }

@media only screen and (max-width: 991px) {
  .mean-container {
    /* Context menu position */
    /* Burger position on the middle of top bar */ }
    .mean-container .mean-bar {
      top: 0; }
      .mean-container .mean-bar .mean-nav {
        margin-top: 40px; }
    .mean-container a.meanmenu-reveal {
      margin-top: -3px; } }

.page.full-width #primary {
  /* Center align on pages */
  float: none;
  margin: auto;
  width: 75%; }

@media only screen and (max-width: 1199px) {
  .page.full-width #primary {
    width: 100%; } }

.post {
  /* Smaller distance between menu and post images */
  /* Space between images */
  /* Images in posts with center alignment */
  /* Post date invisible */ }
  .post header.site-header {
    margin-bottom: 12px; }
  .post div.entry-content > p > img,
  .post div.entry-content > h4 > img {
    margin-bottom: 10px; }
  .post .site-content #primary {
    margin: auto;
    float: none !important; }

@media only screen and (max-width: 1199px) {
  .post .site-content #primary {
    width: 100%; } }
  .post .posted-on {
    display: none !important; }

.page.full-width.page-id-171 {
  /* Story tiles */
  /* Specific width behavior */ }
  .page.full-width.page-id-171 .tile {
    float: left;
    margin: 0 10px;
    width: 300px;
    height: 250px;
    /* Clear margin when there's just one column */
    /* Enlight the tile on hover */
    /* Titles below tiles images */ }
    @media only screen and (max-width: 767px) {
      .page.full-width.page-id-171 .tile {
        margin: 0; } }
    .page.full-width.page-id-171 .tile:hover {
      opacity: 0.7; }
    .page.full-width.page-id-171 .tile .title {
      display: block;
      width: 100%;
      text-align: center;
      color: rgba(0, 0, 0, 0.6);
      font-family: Georgia;
      font-size: 15px;
      font-weight: 200; }
  @media (max-width: 767px) {
    .page.full-width.page-id-171 .container {
      padding: 0; } }
  .page.full-width.page-id-171 .container #primary {
    width: 100%; }
    @media only screen {
      .page.full-width.page-id-171 .container #primary {
        /* Two columns */
        /* One column */ } }
  @media only screen and (max-width: 1199px) {
    .page.full-width.page-id-171 .container #primary {
      width: 640px;
      margin: 0 auto;
      padding: 0; } }
  @media only screen and (max-width: 767px) {
    .page.full-width.page-id-171 .container #primary {
      max-width: 300px;
      width: 100%; } }

.page.full-width.page-id-406 #primary {
  text-align: justify;
  /* Picture of Aneta brighter a bit */ }
  .page.full-width.page-id-406 #primary img.wp-image-482 {
    -webkit-filter: brightness(1.25);
    filter: brightness(1.25); }

.page.full-width.page-id-246 #primary .w-kwiatach {
  float: left;
  /* informacja o autorze pod zdjęciem */ }
  .page.full-width.page-id-246 #primary .w-kwiatach .autor {
    font-size: 10pt;
    width: 200px;
    text-align: center; }

/* page wypoczynek */
.page.full-width.page-id-406 #primary,
.page.full-width.page-id-246 #primary {
  /* Smaller space between fields */
  /* Adjustments for kobieta checkbox */
  /* Textbox for telephone the same as other */
  /* Bigger font size of submit button */
  /* Smaller error and information texts */ }
  .page.full-width.page-id-406 #primary .nf-field-container,
  .page.full-width.page-id-246 #primary .nf-field-container {
    margin-bottom: 10px; }
  .page.full-width.page-id-406 #primary .kobieta,
  .page.full-width.page-id-246 #primary .kobieta {
    margin-top: 20px;
    margin-bottom: 20px; }
    .page.full-width.page-id-406 #primary .kobieta .nf-field-label,
    .page.full-width.page-id-246 #primary .kobieta .nf-field-label {
      text-align: left;
      width: auto; }
    .page.full-width.page-id-406 #primary .kobieta .nf-field-element,
    .page.full-width.page-id-246 #primary .kobieta .nf-field-element {
      width: 20px; }
    .page.full-width.page-id-406 #primary .kobieta .nf-after-field,
    .page.full-width.page-id-246 #primary .kobieta .nf-after-field {
      margin-left: 0; }
  .page.full-width.page-id-406 #primary input[type="tel"],
  .page.full-width.page-id-246 #primary input[type="tel"] {
    color: #666;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 3px; }
    .page.full-width.page-id-406 #primary input[type="tel"]:focus,
    .page.full-width.page-id-246 #primary input[type="tel"]:focus {
      color: black; }
  .page.full-width.page-id-406 #primary .nf-error input[type="tel"],
  .page.full-width.page-id-246 #primary .nf-error input[type="tel"] {
    border: 1px solid #E80000; }
  .page.full-width.page-id-406 #primary .submit-container input[type="button"],
  .page.full-width.page-id-246 #primary .submit-container input[type="button"] {
    font-size: 18px;
    padding-top: 7px; }
  .page.full-width.page-id-406 #primary .nf-form-fields-required,
  .page.full-width.page-id-406 #primary .nf-after-field .nf-error,
  .page.full-width.page-id-406 #primary .nf-form-errors,
  .page.full-width.page-id-246 #primary .nf-form-fields-required,
  .page.full-width.page-id-246 #primary .nf-after-field .nf-error,
  .page.full-width.page-id-246 #primary .nf-form-errors {
    font-size: 14px;
    font-style: italic; }
.site-footer .widget-area {
display:none;}

.single-post .post-thumbnail img {
display:none;
}

.entry-title {
    font-family: Helvetica, Sans-Serif;
    font-size: 0px;
    font-weight: bold;
    letter-spacing: 1px;
    color: rgba(0, 0, 0, 0.6);
}

.a  {
    font-family: Helvetica, Sans-Serif;
    font-size: 8px;
    font-weight: bold;
    letter-spacing: 1px;
    color: rgba(0, 0, 0, 0.6);
}


.site-content .post .entry-title a, .site-content .page .entry-title, .page .site-content #primary .entry-title, .post .site-content .entry-title {
    font-size: 29px;
    line-height: 44px;
    color: #000;
    font-weight: normal;
    font-family: helvetica;}

.entry-meta {
  display: none !important; }
