$phones-max-width: 767px;
$tablets-max-width: 991px;
$desktops-max-width: 1199px;

/* Default page and container size */
.container {
  width: 990px;

	@media only screen {
		@media (max-width: $desktops-max-width) {
			width: 742px;
		}

		@media (max-width: $tablets-max-width) {
			max-width: 90%;
		}
	}
}

/* Page and Post header invisible */
.entry-header {
    display: none !important;
}

@import 'site_header';
@import 'menu';
@import 'page';
@import 'post';
@import 'impressions';
@import 'relax';
